[Desktop Entry]
Name=ElonaFoobar
Comment=elona variant
Exec=/usr/bin/elonafoobar %U
Icon=elonafoobar
Terminal=false
Type=Application
Categories=Game;
